modules = ["web", "nodejs-20"]
run = "yarn start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "yarn start"]

[workflows]
runButton = "Development Server"

[[workflows.workflow]]
name = "Development Server"
author = 43063820
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[ports]]
localPort = 5000
externalPort = 80
