modules = ["web", "nodejs-20"]
run = "yarn start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "yarn start"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Development Server"
author = 43063820
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "captive-portal"

[[workflows.workflow]]
name = "captive-portal"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33097
externalPort = 3002

[[ports]]
localPort = 41261
externalPort = 3000

[[ports]]
localPort = 43431
externalPort = 3001

[agent]
expertMode = true
